@keyframes spinSlow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spinSlow 20s linear infinite;
}


@keyframes highlight {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.animate-highlight {
  animation: highlight 1.2s ease forwards;
}